<div class="items">
  <div class="singleItem">
    <div><img src="<%= item.image %>" alt="" class="item-img" /></div>
    <div>
      <%= item.brand %> <%= item.model %>
      <p>
        $<%= Number(item.price).toLocaleString('en-US', { minimumFractionDigits:
        0, maximumFractionDigits: 2 }) %>
      </p>
      <p>Type: <%= item.type %></p>
      <p>Movement: <%= item.movement %></p>
      <p>Style: <%= item.style %></p>
      <a href="/update/<%= item.model%>"><Button>Update info</Button></a>
    </div>
  </div>
  <a href="<%= back %>" class="back-button">Back</a>
</div>
