
    <form method="POST" action="/update" class="new-watch-form">
      <label for="model">Name</label>
      <input
        type="text"
        name="model"
        id="model"
        placeholder="Enter watch model"
        value="<%= item.model %>"
      />
      <label for="type_id">Type</label>
      <select name="type_id" id="type_id">
        <% types.forEach((type, index) => { %>
        <option value="<%= type.id %>" <%= type.name === item.type ? "selected" : "" %>>
          <%= type.name %>
        </option>

        <% }); %>
      </select>
      <label for="brand_id">Brand</label>
      <select name="brand_id" id="brand_id">
        <% brands.forEach((brand, index) => { %>
        <option value="<%= brand.id %>" <%= brand.name === item.brand ? "selected" : "" %>><%= brand.name %></option>

        <% }); %>
      </select>

      <label for="movement_id">Movement</label>
      <select name="movement_id" id="movement_id">
        <% movements.forEach((movement, index) => { %>
        <option value="<%= movement.id %>" <%= movement.name === item.movement ? "selected" : "" %>><%= movement.name %></option>

        <% }); %>
      </select>

      <label for="style_id">Style</label>
      <select name="style_id" id="style_id">
        <% styles.forEach((style, index) => { %>
        <option value="<%= style.id %>" <%= style.name === item.style ? "selected" : "" %>><%= style.name %></option>

        <% }); %>
      </select>
      <label for="price">Price</label>
      <input
        type="number"
        min="1"
        step="any"
        name="price"
        id="price"
        placeholder="Enter price"
        value="<%= item.price%>"
      />
      <label for="image">Link to image</label>
      <input
        type="text"
        name="image"
        id="image"
        placeholder="Add image link"
        value="<%= item.image%>"
        disabled
      />

      <input type="hidden" name="id" id="id" value="<%=item.id%>" >
      <button type="submit" class="formSubmit">Submit</button>
    </form>

